---
import Layout from "../../layouts/Layout.astro"
import {getArtistes} from "../../js/backend.mjs";

const artistes = await getArtistes();
console.log(artistes);
---

<Layout title="Artistes">
    <h1 class="text-5xl text-cyan-700">Nos artistes</h1>
    {
        artistes.map( (art) => (
            <div class="border p-4 my-4 rounded-md">
                <h2 class="text-3xl text-cyan-500">{art.first_name} {art.last_name}</h2>
                <h3>Events: </h3>
                <ul class="list-disc list-inside">
                    {art.expand?.events.map((ev) => (
                        <li>{ev.title}</li>
                    ))}
                </ul>
            </div>
        ))
    }
</Layout>
