---
import Layout from '../../layouts/Layout.astro';
import EventCard from '../../components/EventCard.astro';
import { getEvents } from '../../js/backend.mjs';

const events = await getEvents();
console.log(events);

---

<Layout title="Agenda">
    <h1>Event Agenda</h1>
    {
        events.map( (ev) => (
            <p>{ev.Lieu}</p>
            <EventCard event={ev} />
        ))
    }
</Layout>